//** Official documentation for config files: https://www.nextflow.io/docs/latest/config.html **//

process {

    withName: MTS_Align_SpinalCord {
        cpus = 2
        memory = 1.GB
        maxForks = 4
    }

}

params {

    sct_parameter= "This is how default params are defined"
    sct_another_parameter= 99

}

//** Default one is standard (local), but other options are easily possible **//

profiles {

    standard {
        process.executor = 'local'
    }

    cluster {
        process.executor = 'slurm'
        process.queue = 'long'
        process.memory = '10GB'
    }

    cloud {
        process.executor = 'awsbatch'
        process.container = 'docker.io/neuropoly/sct'
        docker.enabled = true
    }

}
